---
import Layout from "@layouts/Default.astro";
---

<Layout title="About me" description="About me">
  <main class="bg-blue px-6 py-24">
    I bring a diverse background to the world of web development. In my earlier
    roles, I served as an Asian food ambassador in a dynamic startup and
    indulged in the world of premium tea as a purveyor. Outside the realm of
    coding, I'm a passionate photography hobbyist, capturing moments from my
    travels near and far. This unique blend of experiences has not only shaped
    my approach to web development but has also infused creativity and a worldly
    perspective into my work. It's this fusion of technical expertise and a rich
    tapestry of experiences that I bring to every project, ensuring a unique and
    tailored touch. Let's embark on a journey where the intersections of
    technology, culture, and creativity converge.
  </main>
</Layout>
