---
import Card from "@components/Card.astro";
import ImprintLayout from "@layouts/ImprintLayout.astro";
---

<ImprintLayout>
  <div class="container flex justify-center items-center py-20">
    <Card bgColor="bg-oolong">
      <h1 class="text-md">Impressum</h1>
      <p>
        <span class="block pt-2 font-semibold">
          Gesetzliche Anbieterkennung gem. ยง5 Telemediengesetz (TMG):<br />
        </span>
         Tsz-Hong Liu<br />
         Osthoffsgarten 29<br />
         33104 Paderborn<br />
        <span class="block pt-2 font-semibold"> Kontakt:</span>
        <a href="mailto:hello@zyhongstudio.com">hello@zyhongstudio.com</a>
        <br />
         +49 15679393820<br />
         USt-IdNr gem. ยง27a UStG.: DE349956612
      </p>
    </Card>
  </div>
</ImprintLayout>
