---
import Stage from "@components/Stage.astro";
import TechStacks from "@components/TechStacks.astro";
import Action from "@components/Action.astro";
import Layout from "@layouts/Default.astro";
// import randomizedColor from "@lib/randomizedColor";
// import Work from "@components/Work.astro";
// import Card from "@components/Card.astro";
---

<Layout title="Home" description="Freelancer Web Developer">
  <main>
    <section id="intro" class="bg-cream">
      <div
        class="container min-h-[calc(100vh_-_124px)] flex items-center justify-center"
      >
        <Stage />
      </div>
    </section>
    <section id="tech-stack" class={`bg-azure`}>
      <div
        class="container text-center tablet:text-left grid grid-cols-1 tablet:grid-cols-12 gap-12"
      >
        <TechStacks />
      </div>
    </section>

    <!-- <section id="work" class={`bg-cream`}>
      <div
        class="container text-center tablet:text-left grid grid-cols-1 tablet:grid-cols-12 gap-12"
      >
        <div class="col-span-full">
          <h2 class="prose-headings-h2 font-heading">
            Brands I've worked with<span class={`text-ocher`}>.</span>
          </h2>
        </div>
      </div>
    </section> -->

    <section id="contact" class={`bg-lavender`}>
      <div class="container text-center tablet:text-left">
        <h2 class="prose-headings-h2 font-heading">
          Let's Connect<span class={`text-ocher`}>.</span>
        </h2>
        <p class="prose prose-lg pt-spacing">
          Need help for your next project? Whether you have something in mind,
          want to discuss your ideas, or simply have a question, feel free to
          reach out.
        </p>

        <div class="pt-spacing">
          <Action
            as="a"
            tagStyleVariant="button"
            href={"mailto:hello@zyhongstudio.com?subject=Enquiry&body=Hi Zyhong"}
            trailingArrow
          >
            Contact me
          </Action>
        </div>
      </div>
    </section>
  </main>
</Layout>
