---
type Props = {
  classList?: string;
  bgColor?: string;
};

const { classList, bgColor } = Astro.props;
---

<div
  class:list={[
    bgColor || "bg-rose",
    classList,
    "text-left rounded-[0.5rem] border-[3px] border-black p-4 drop-shadow-big",
  ]}
>
  <slot />
</div>
