---
import { Image } from "astro:assets";
import portrait from "@assets/portrait.jpg";
import randomizedColor from "@lib/randomizedColor";

type Props = {
  color?: string;
};

if (Astro.props.color === undefined) {
  Astro.props.color = randomizedColor();
}
const age = Math.floor(
  (new Date().getTime() - new Date("1995-06-16").getTime()) /
    (1000 * 60 * 60 * 24 * 365.25)
);
---

<div
  class="grid tablet:grid-cols-12 justify-center items-center gap-2 tablet:gap-12"
>
  <div
    class="text-center tablet:text-left tablet:col-span-8 order-last tablet:order-first"
  >
    <h2>
      Hello, I'm Zyhong Liu<span class={`text-ocher`}>.</span>
    </h2>
    <p class="prose-lg tablet:prose-xl">
      I'm a Freelance Fullstack Web Developer and Headless CMS Specialist, who architects award-winning web
      applications, guided by a firm commitment to performance, accessibility,
      and SEO. I am passionate about delivering highly scalable solutions that
      provide an <b>outstanding user experience for everyone</b>. I am a {age}-year old
      German-Cantonese based in Paderborn, Germany 🇩🇪.
    </p>
  </div>
  <div class="tablet:col-span-4 order-first tablet:order-last">
    <img
      class:list={[
        `border-oolong rounded-full aspect-square object-cover`,
        "m-auto",
        "w-full h-full max-w-[300px] max-h-[300px] tablet:max-w-full tablet:max-h-full",
        "border-t-[2px] border-r-[10px] border-b-[12px] border-l-[2px]",
      ]}
      src={portrait.src}
      width="300"
      height="300"
      alt="Portrait of Zyhong Liu"
    />
  </div>
</div>
