---
import frontendStack from "@const/frontendStack";
import cmsStack from "@const/cmsStack";
import devOpsStack from "@const/devOpsStack";
import backendStack from "@const/backendStack";
import TechStack from "./TechStack.astro";
---

<div class="col-span-full">
  <h2 class="prose-headings-h2 font-heading">
    Tools I use to build stuff with<span class={`text-ocher`}>.</span>
  </h2>
  <p class="prose prose-lg pt-spacing">
    A lot of my work feature the latest technologies. I am also a
    Headless CMS specialist, prioritizing rich UX for both users and admins while also
    providing optimal performance, accessibility and SEO, all written in clean, testable code.
  </p>
</div>
<TechStack title="Frontend" stackList={frontendStack} />
<TechStack title="Backend" stackList={backendStack} />
<TechStack title="CMS" stackList={cmsStack} />
<TechStack title="DevOps" stackList={devOpsStack} />
